.saleStuff {
  max-width: 1290px;
  width: 100%;
  .userSlide {
    height: 280px;
    .swiper-slide {
      overflow: hidden;
      position: relative;
      width: calc(100% / 6 - 6px) !important;
      height: 100%;
      border-radius: 10px;
      border: 1px solid #f0f0f0;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg,rgba(0,0,0,0.5), transparent 30%);
      }
      picture {
        display: block;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          
        }
      }
      .thumbnail {
        position: absolute;
        top: 8px;
        left: 8px;
        width: 1.8rem;
        height:1.8rem;
        background-color: #fff;
        border: 2px solid #fff;
        border-radius: 100%;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: 100%;
        }
      }
      .userId {
        z-index: 1;
        position: absolute;
        left: 8px;
        bottom: 8px;
        font-size: 0.9rem;
        color: #fff;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      transform: translateY(-50%);
      width: 3rem;
      height: 7rem;
      margin-top: 0;
      &.swiper-button-disabled {
        opacity: 1;
        cursor: pointer;
      }
      &::after {
        display: none;
        width: 100%;
        height: 100%;
        color: transparent;
      }
    }
    .swiper-button-prev {
      left: 8px;
      &::after {
        background: url(../../../../public/images/common/arr-left-circle-big.7c37625e.svg) center / auto 100% no-repeat;
      }
    }
    .swiper-button-next {
      right: 8px;
      &::after {
        background: url(../../../../public/images/common/arr-right-circle-big.98024941.svg) center / auto 100% no-repeat;
      }
    }
    &:hover {
      .swiper-button-prev::after,
      .swiper-button-next::after {
        display: block;
      }
    }
  }
}