.upComingDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3px;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 10px;
  &__month {
    padding: 0 3px 3px;
    border-bottom: 3px solid #000;
  }
  &__date {
    font-size: 1.4rem;
    font-weight: 700;
  }
}