.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  strong {
    font-weight: bold;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1330px;
    width: 100%;
    border-top: 1px solid #ebebeb;
    box-sizing: border-box;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    padding: 3.5rem 0;
    &--menu {
      display: flex;
      column-gap: 7rem;
    }
    .menu {
      &__info,
      &__support {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
      }
      &__list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        &--item {
          font-size: 14px;
          color: rgba(34,34,34,.5);
        }
      }
    }
    &--serviceCenter {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
    .serviceCenter {
      &__info {
        font-size: 14px;
        color: rgba(34,34,34,.5);
      }
      .faqBtn {
        display: inline-flex;
        width: fit-content;
        padding: 12px;
        background: #000;
        font-size: 12px;
        color: #fff;
      }
    }
  }
  .footer__bottom {
    max-width: 1280px;
    width: 100%;
    padding: 2rem 0;
    border-top: 1px solid #ebebeb;
    box-sizing: border-box;
    &--linkList {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    .linkList {
      &__wrap {
        display: flex;
        gap: 15px;
      }
      &__item {
        font-size: 14px;
        &--privacy {
          font-weight: 700;
        }
      }
      &__snsList {
        display: flex;
        gap: 15px;
      }
    }
    &__businessInfo {
      margin-bottom: 2rem;
    }
    .businessInfo {
      span {
        a {
          text-decoration: underline;
          margin-left: 5px;
        }
        font-size: 13px;
        color: rgba(34,34,34,.5);
      }
      &__info {
        display: flex;
        gap: 15px;
        line-height: 1.2rem;
      }
    }
  
    .notice {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      p {
        color: rgba(34,34,34,.4);
        font-size: 12px;
        max-width: 50%;
      }
    }
  }
}
