.detailBtn-wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: calc(50vw - 80px);
  margin: 50px auto;
  box-sizing: border-box;
}
.detailBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detailImg {
  overflow: hidden;
  width: 100%;
  height: 100px;
  border-radius: 10px;
}
.detailImg picture {
  width: 100%;
  height: 100%;
}
picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detailText {
  padding: 10px 0;
  font-size: 15px;
}