footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footerWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1330px;
  width: 100%;
  border-top: 1px solid #ebebeb;
  box-sizing: border-box;
  .footerTop {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    padding: 3.5rem 0;
    .footer-menu {
      display: flex;
      column-gap: 7rem;
      .menu-info,
      .menu-support {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
      }
    }
  }
  .footerBottom {
    max-width: 1280px;
    width: 100%;
    padding: 2rem 0;
    border-top: 1px solid #ebebeb;
    box-sizing: border-box;
  
    .linkList-wrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      ul {
        display: flex;
        gap: 15px;
        li {
          font-size: 14px;
          .privacy_link {
            font-weight: 700;
          }
        }
      }
      .snsList-wrap {
        display: flex;
        gap: 15px;
      }
    }
  
    .businessInfo-wrap {
      margin-bottom: 2rem;
      span {
        a {
          text-decoration: underline;
          margin-left: 5px;
        }
        font-size: 13px;
        color: rgba(34,34,34,.5);
      }
      .business_info {
        display: flex;
        gap: 15px;
        line-height: 1.2rem;
      }
    }
  
    .notice-wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      p {
        color: rgba(34,34,34,.4);
        font-size: 12px;
        max-width: 50%;
      }
    }
  }
}