.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: 100%;
}
.header_top {
  margin-left: auto;
}
.header_top ul {
  display: flex;
  justify-content: space-between;
  color: rgba(34,34,34,.8);
  font-size: 12px;
}
.header_top ul li {
  margin-left: 20px;
}

.header_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo {
  margin: 0;
}
.logo_text {
  font-weight: bold;
}
.GNB_wrap ul {
  display: flex;
  margin: 0;
}
.GNB_wrap ul li {
  display: flex;
  margin-left: 40px;
  font-size: 18px;
}
.link_home {
  font-weight: 700;
}

.header_bottom {
  width: 100%;
}
.tabs {
  display: flex;
  padding: 0;
  margin: 0;
}
.tab {
  margin-right: 20px;
  padding: 20px 0 10px;
}
.tab a {
  color: rgba(34,34,34,.8);
}
.tab.active {
  font-weight: 700;
  border-bottom: 3px solid #222;
  color: #000;
}
.tab.active a {
  color: #000;
}