.Nike {
  background-color: #ebf0f5;
}
.Apple {
  background-color: #f4f4f4;
}
.Jordan {
  background-color: #f6eeed;
}
.Adidas {
  background-color: rgb(241, 241, 234);
}
.NewBalance,
.MiharaYasuhiro,
.Asics,
.Stussy {
  background-color: rgb(244, 244, 244);
}