header { 
  @include flexCenter;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  padding-top: 2rem;
  .header_top {
    margin-left: auto;
    ul {
      display: flex;
      justify-content: space-between;
      color: rgba(34,34,34,.8);
      font-size: 12px;
      li {
        margin-left: 20px;
      }
    }
  }
  .header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .logo {
      margin: 0;
      &_text {
        font-weight: bold;
      }
    }
    .GNB_wrap {
      ul {
        display: flex;
        margin: 0;
        li {
          display: flex;
          margin-left: 40px;
          font-size: 18px;
          &.link_home {
            font-weight: 700;
          }
        }
      }
    }
  }
  .header_bottom {
    width: 100%;
    .tabs {
      display: flex;
      padding: 0;
      margin: 0;
      .tab {
        margin-right: 20px;
        padding: 20px 0 10px;
        a {
          color: rgba(34,34,34,.8);
        }
        &.active {
          font-weight: 700;
          border-bottom: 3px solid #222;
          color: #000;
          a {
            color: #000;
          }
        }
      }
    }
  }
}